.companies {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
}

.company img {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}
